.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Segoe UI, Tahoma, sans-serif;
}
.Example input,
.Example button {
  font: inherit;
}
.Example header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}
.Example header h1 {
  font-size: inherit;
  margin: 0;
}
.Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}
.Example__container__load {
  margin-top: 1em;
  color: white;
}
.Example__container__document {
  margin: 1em 0;
}
.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Example__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}
.Example__container__document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}
.Example__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

/* custom css starts */

.doc-container {
  display: flex;
  justify-content: center;
}

.fullscreen-enabled {
  overflow: auto;
}

.fullscreen-enabled .doc-container {
  overflow: auto;
}

.fullscreen-enabled .nav-controls span {
  color: #fff;
}

.fullscreen-enabled .nav-controls {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  bottom: 0;
}

.fullscreen-enabled .react-pdf__Document {
  width: 100% !important;
  height: auto !important;
}

.fullscreen-enabled .react-pdf__Page {
  width: 100% !important;
  height: auto !important;
}

.fullscreen-enabled .react-pdf__Page__svg {
  width: 100% !important;
  height: auto !important;
  background-color: transparent;
}

.fullscreen-enabled svg {
  width: 100% !important;
  height: auto !important;
}

.fullscreen-enabled {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.fullscreen-enabled::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

canvas {
  cursor: pointer;
}

.custom-control-video {
}

/* custom css ends */
